* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-box {
    padding: 0;
    width: 290px;
    margin: 1px;
    background-color: #8d4a2541;
    border-radius: 16px;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 248, 239);
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    background-image: url('https://static.wixstatic.com/media/d10ff8_e63a17a159854dbaa949e31fa3c6dfcb~mv2.jpg/v1/fill/w_985,h_1000,al_c,q_85,usm_0.66_1.00_0.01/d10ff8_e63a17a159854dbaa949e31fa3c6dfcb~mv2.jpg');
    background-size: cover;
    position: relative;
    border-top-right-radius: 64px;
    border-bottom-right-radius: 64px;
}
.right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    letter-spacing: 1px;
    position: absolute;
    top: 1px;
    right: 405px;
}
h2 {
    padding: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3a2114;
}
ul {
    padding: 2px;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    position: absolute;
    color: #444444;
    top: 55px;
    right: 80px;
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form {
    margin-top: 0;
    padding: 10px;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #5b3a29;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}
button:hover {
    background-color: #4a2d23;
}
select {
    padding: 3px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.3s;
}
select:focus {
    border-color: #4CAF50;
    outline: none;
}